
.inner-courses-card
{
  min-height: 100vh;
    padding: 130px 50px 100px 50px;
    
    background-color:  whitesmoke;

    background-size: cover;
    background-position: center;
}
.card-Python
{
   width:100%;
   
   color:white;
   border-radius: 8px;
   box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
   border:0px;

}
.width-100
{
  width : 100% !important;
}
.head-Python
{
    color:rgb(48, 46, 46);

}
.des-python{
  color: #717183;
  line-height: 1.2;
}