.python-bg{
    min-height: 100vh;
    padding: 130px 50px 100px 50px;
    
    background-image: linear-gradient(to bottom right, #ffe5d4, white, white),
      url(https://wallpapercave.com/wp/wp1859057.jpg);
    background-size: cover;
    background-position: center;
   
}
.display
{
  display:grid;
  align-items: center;
  grid-template-columns: 5fr 1fr 1fr;
  column-gap:5pxpx;
}
.introduction
{
   border: 3px solid black;
   border-radius:5px;
   filter:alpha(opacity=40);
    width : 250px;
   height: 50%;
  
}

img
{
  float:right;
}