.cse-courses-bg {
  min-height: 100vh;
  padding: 100px;
  
  background-image: linear-gradient(to bottom right, #ffe5d4, white, white),
    url(https://wallpapercave.com/wp/wp1859057.jpg);
  background-size: cover;
  background-position: center;
}
.test {
  background-color: beige;
}
h5{
  padding-top: 50px;
  font-size: 30px;
font-family:  Arial, Helvetica, sans-serif;
color: white;		 
}	  
.cse-course-card{

  width: 400px;
  
  border-radius:30px;
  text-align: center;

}

.home-bg{
  min-height: 100vh;
  padding: 80px;
 
      background-image: linear-gradient(to bottom right,#FFE5D4,white,white ), url(https://wallpapercave.com/wp/wp1859057.jpg);
      background-size: cover;
      background-position: center;
  
    
}
.cse-coursecard-image
{
  height:200px;
  width:100%;
}
.outline-custom:focus,
.outline-custom:active {
  outline: none;
  background-color: blue;
}
.link{
  text-decoration: none;
  display: inline-block;
}
.cse-courses-heading{
  line-height: normal;
  font-size: 35px;
  font-weight: 600;
  font-family: sans-serif;
  margin-left: 20px !important;

}
.card-title-cse{
  color: black;
  font-weight: 500;
  font-size: 25px;
}
.min-height-450{
  min-height: 450px;
}