.python-bg{
    min-height: 100vh;
    padding: 130px 50px 100px 50px;
    
    background-image: linear-gradient(to bottom right, #ffe5d4, white, white),
      url(https://wallpapercave.com/wp/wp1859057.jpg);
    background-size: cover;
    background-position: center;
}
img{
  max-height: 100%;
  max-width: 100%;
}
.container
{
  display:grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}